body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url('https://images.unsplash.com/photo-1579290046612-b39c8b2f8654?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Mjh8OTg2MDI5OXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60') bottom no-repeat;
    background-size: cover;
    background-color: #d0d1d3;
}

h1 {
    color: #0051ff;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}


.news {
    background-color: #fff;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #00a100;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(199, 37, 37);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

article:nth-child(even) {
    background-color: #90bdc9;
}

h2:nth-child(even)::before {
    content: "+";
    background-color: #c99090;
}

h2:hover::before {
    content: "--";
    background-color: #c99090;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer.links {
    margin-bottom: 50px;
}

footer.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}
